body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
   
}
/* .text-white{
    font-size: 3rem;
} */
#intro{
    padding-top: 20%;
}
#welcome-section{
    background-color: #303841;
}
#projects{
    background-color: #45567d;
}
#project-title{
    text-decoration: underline;
}
.card-body{
    background-color: #303841;
}
.card-text{
    color: white;
}
#footer{
    background-color: #303841;
}
.here:hover {
	background-color: #45567d;
}
a{
    text-decoration: none;
}